

#mapContainer {
  display: inline-block
  width: 1000px;
  height: 1000px;
}

.figure {
  display: inline-block
}

.figure-img {
  margin-bottom: .5rem;
  line-height: 1
}

body {
  background: grey;
}

.legend {
  background-color: #66ffcc;
  border-radius: 3px;
  bottom: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
  font: 12px/10px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: fixed;
  right: 30px;
  width: 100px;
  height: 100px;

  z-index: 1;
}

.legend div span {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
.cover {
  padding: 0 1.5rem;
}
